<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>

        <link rel="stylesheet" href="/static/css/app.css" media="all">

        <script src="/static/lib/spin.min.js"></script>
        <script src="/static/lib/jquery.min.js"></script>
        <script src="/static/lib/jquery.spin.js"></script>
        <script src="/static/lib/iframe.min.js"></script>
        <script src="/static/js/app.js"></script>

        <meta name="base-url" content="{{base_url}}">

    {% endblock %}
</head>
<body class="{% block bodyClasses %} {% endblock %} {{ theme }}">
{% block content %}
{% endblock %}
</body>
</html>
