html {
    height: 100%;
}

footer {
    padding: 10px;
    justify-content: flex-end;
    border-top: 1px solid #ccc;
}

.spinner-container {
    position: absolute;
    top: calc(50% - 50px);
    left: 50%;
}
